@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 500;
  src: local('TT Lakes'), url('/1.5/fonts/TTLakes-Medium.woff'),
    url('/1.5/fonts/TTLakes-Medium.ttf'), url('/1.5/fonts/TTLakes-Medium.eot');
}
@font-face {
  font-family: 'TT Lakes';
  font-style: normal;
  font-weight: 400;
  src: local('TT Lakes'), url('/1.5/fonts/TTLakes-Regular.woff'),
    url('/1.5/fonts/TTLakes-Regular.ttf'), url('/1.5/fonts/TTLakes-Regular.eot');
}
body {
  position: relative;
  margin: auto;
  max-width: 1200px;
  max-height: 400px;
  font-family: 'TT Lakes', 'Arial', sans-serif;
  background: #f2f2f2;
}
.header {
  min-width: 320px;
  min-height: 56px;
  border-top: 1px solid #d9fff5;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
}
.header p {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  text-transform: uppercase;
  color: #7e7e82;
}
.swiper-container {
  display: flex;
}
.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  display: flex;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #eaeaea;
}
.swiper-slide a {
  height: 40px;
  width: 40px;
  margin: 16px;
  background-image: url('/1.5/img/go.svg');
}
.swiper-slide a:hover {
  filter: invert(75%);
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }

  100% {
    transform: rotate(0deg);
  }
}
.brand-slider .swiper-pagination {
  bottom: 0;
}
.brand-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #b5b6bc;
}
.swiper-pagination .swiper-pagination-bullet:nth-child(11),
.swiper-pagination .swiper-pagination-bullet:nth-child(10) {
  display: none;
}
button {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #1b1c21;

  background-color: rgba(28, 28, 28, 0);
  border: none;
  z-index: 100;
}
.button-none {
  display: none;
}
@media (min-width: 320px) {
  .header {
    height: 80px;
  }
  .header p {
    margin: 16px;
  }
  /*button {
      display: none;
    }*/
  .swiper-container {
    min-width: 320px;
    height: 116px;
    overflow: hidden;
  }
  .swiper-wrapper {
    position: absolute;
    top: -2px;
    left: 8px;
  }
  .swiper-slide {
    max-height: 70px;
    max-width: 238px;
    margin: 16px 8px 16px 8px;
  }
  .logo__lenovo,
  .logo__lenovo-2 {
    height: 32px;
    width: 108px;
    background-image: url('/1.5/img/lenovo.svg');
    margin: auto auto auto 14px;
  }
  .logo__samsung,
  .logo__samsung-2 {
    height: 38.515625px;
    width: 116px;
    background-image: url('/1.5/img/samsung.svg');
    margin: auto auto auto 14px;
  }
  .logo__apple,
  .logo__apple-2 {
    height: 44px;
    width: 44px;
    background-image: url('/1.5/img/apple.svg');
    margin: auto auto auto 16px;
  }
  .logo__viewsonic {
    height: 21px;
    width: 128px;
    background-image: url('/1.5/img/ViewSonic.svg');
    margin: auto;
  }
  .logo__bosch {
    height: 28.601268768310547px;
    width: 128px;
    background-image: url('/1.5/img/bosch.svg');
    margin: auto;
  }
  .logo__hp {
    height: 52px;
    width: 52px;
    background-image: url('/1.5/img/HP.svg');
    margin: auto auto auto 10px;
  }
  .logo__acer {
    height: 24px;
    width: 94px;
    background-image: url('/1.5/img/acer.svg');
    margin: auto auto auto 16px;
  }
  .logo__sony {
    height: 25.600000381469727px;
    width: 128px;
    background-image: url('/1.5/img/sony.svg');
    margin: auto auto auto 14px;
  }
  .swiper-pagination {
    position: absolute;
    top: 180px;
    left: 0px;
  }
}
@media (min-width: 768px) {
  .header {
    height: 56px;
    width: 768px;
    margin: 0 auto 0 auto;
  }
  .header p {
    margin: 16px auto 16px 24px;
  }
  button {
    /*display: initial;*/
    position: absolute;
    width: 133px;
    height: 24px;
    left: 52px;
    top: 264px;
    background-image: url('/1.5/img/icon.svg');
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: 4px;
  }
  .swiper-button-active {
    overflow: visible;
    max-width: 750px;
    height: 350px;
    margin: 16px auto 0px auto;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-container {
    max-width: 750px;
    height: 180px;
    margin: 16px auto 0px auto;
  }
  .swiper-wrapper {
    flex-wrap: wrap;
    position: absolute;
    left: 3px;
    top: -4px;
  }
  .swiper-slide {
    max-height: 70px;
    max-width: 222px;
    margin: 12px 12px 5px 12px;
  }
  .logo__lenovo,
  .logo__lenovo-2 {
    height: 32px;
    width: 108px;
    background-image: url('/1.5/img/lenovo.svg');
    margin: auto auto auto 14px;
  }
  .logo__samsung,
  .logo__samsung-2 {
    height: 38.515625px;
    width: 116px;
    background-image: url('/1.5/img/samsung.svg');
    margin: auto auto auto 14px;
  }
  .logo__apple,
  .logo__apple-2 {
    height: 44px;
    width: 44px;
    background-image: url('/1.5/img/apple.svg');
    margin: auto auto auto 15px;
  }
  .logo__viewsonic {
    height: 21px;
    width: 128px;
    background-image: url('/1.5/img/ViewSonic.svg');
    margin: auto;
  }
  .logo__bosch {
    height: 28.601268768310547px;
    width: 128px;
    background-image: url('/1.5/img/bosch.svg');
    margin: auto;
  }
  .logo__hp {
    height: 52px;
    width: 52px;
    background-image: url('/1.5/img/HP.svg');
    margin: auto auto auto 10px;
  }
  .logo__acer {
    height: 24px;
    width: 94px;
    background-image: url('/1.5/img/acer.svg');
    margin: auto auto auto 16px;
  }
  .logo__sony {
    height: 25.600000381469727px;
    width: 128px;
    background-image: url('/1.5/img/sony.svg');
    margin: auto auto auto 14px;
  }
  .button-show {
    position: absolute;
    height: 24px;
    width: 134px;
  }
  /*.button-show .show__img {
      position: absolute;
  
      top: 8px;
      left: -18px;
    }*/
  .button-hide {
    position: absolute;
    height: 24px;
    width: 88px;
    left: 52px;
    top: 434px;

    background-image: url('/1.5/img/icon2.svg');
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: 4px;
  }
  /* .button-hide .hide__img {
      position: absolute;
  
      top: 8px;
      left: -19px;
    }*/
}
@media (min-width: 1120px) {
  .header {
    height: 56px;
    width: 1120px;
  }
  .header p {
    margin: 16px auto 16px 32px;
  }
  .swiper-button-active {
    overflow: visible;
    max-width: 750px;
    height: 350px;
    margin: 16px auto 0px auto;
  }
  .swiper-container {
    max-width: 1080px;
    height: 180px;
    margin: 16px auto 0px auto;
  }
  .swiper-wrapper {
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    top: -4px;
  }
  .swiper-slide {
    max-height: 70px;
    max-width: 238px;
    margin: 12px 16px 5px 13px;
  }
  .logo__bosch {
    height: 28.601268768310547px;
    width: 128px;
    background-image: url('/1.5/img/bosch.svg');
    margin: auto auto auto 14px;
  }
  .logo__samsung,
  .logo__samsung-2 {
    height: 38.515625px;
    width: 116px;
    background-image: url('/1.5/img/samsung.svg');
    margin: auto auto auto 15px;
  }
  .logo__apple,
  .logo__apple-2 {
    height: 44px;
    width: 44px;
    background-image: url('/1.5/img/apple.svg');
    margin: auto auto auto 18px;
  }
  .button-show {
    position: absolute;
    height: 24px;
    width: 134px;

    left: 97px;
    top: 264px;
  }
  .button-show .show__img {
    position: absolute;

    top: 8px;
    left: -18px;
  }
  .button-hide {
    position: absolute;
    height: 24.000244140625px;
    width: 88px;

    left: 96px;
    top: 340px;
  }
  .button-hide .hide__img {
    position: absolute;

    top: 7px;
    left: -16px;
  }
}
